body {
  background: #21618C;
  margin: 0;
}

h1, p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 1px;
  color: white;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40%;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover{
    background-color: #4CAF50;
    color: white;
}
.button1:active{
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.button2:active {
    background-color: #008CBA;
    color: white;
}

#progress {
  width: 100%;
  background-color: #ddd;
}

#progressBar {
  width: 1%;
  height: 12px;
  background-color: green;
}

.triggers {
  text-align: center;
  padding-top:1px;
}

#luckyNum {
  font-family: Courier;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  color: #784212;
}

#winnerText {
  font-family: Georgia;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #A93226;
}
#winnerDetails {
  width:100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 6px;
  background: #BA4A00;  
}

#playDetails {
  margin: 0 auto;
  border: 0px;
  border-collapse: collapse;
}
.playOptions {
  padding:3px;
  text-align: center;
  background: #D7DBDD;
}
table.maintable1 p a{
  font-size: 20px;
  color:green;
  font-style:italic;
  text-decoration: none;
}

#playDetails tr td {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
table.claimtable th {
  font-family: Georgia;
  margin: 0 auto;
  border: 0px;
  padding-top: 5px;
  font-weight: 600;
  font-size: 18px;
}
table.claimtable tr td{
  margin: 0 auto;
  border: 0px;
  border-radius: 6px;
  border-spacing:0px;
  padding: 3px;
}
table.claimtable p a{
  font-size: 12px;
  color:black;
  text-decoration: none;
}
#claims_P1 {
  margin: 0 auto;
  float: :right;
}
#claims_P2 {
  margin: 0 auto;
  float: :right;
}
#bingotable1 {
  float: right;
 
}
#playertable tr td {
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
  border-spacing:0px;
  padding:5px;
}
table.bingotable {
  text-align: center;
  width: 90%;
  height: 380px;
  border-collapse: collapse;
  background: white;
  font-size: 25px;
}

#maintable {
  margin: 0 auto;
  text-align: center;
  width: 15%;
  height: 300px;
  
}
#maintable tr td {
  border: 1px solid balck;
  border-radius: 6px;
  width:20%;
}

th, td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 20%;
  background: #5499C7;
}

* {
  box-sizing: border-box;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
  height: 500px;
 /* Should be removed. Only for demonstration */;
}

.left, .right {
  width: 37%;
}

.middle {
  width: 26%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.orange {
  background: #16A085;
}
